@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body {
  min-height: 100vh;
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
  color: white;
}
.container {
  margin: auto;
  width: 950px;
  overflow: hidden;
  display: flex;
  border-radius: 8px;
}
.small-container {
  padding: 2.3rem;
}

.div1 {
  height: 60px;
  background-image: url(./images/icon-sedans.svg);
  background-repeat: no-repeat;
}
.div2 {
  height: 60px;
  background-image: url(./images/icon-suvs.svg);
  background-repeat: no-repeat;
}
.div3 {
  height: 60px;
  background-image: url(./images/icon-luxury.svg);
  background-repeat: no-repeat;
}
h1 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem 0;
  font-size: 36px;
  color: var(--very-light-gray);
}
p {
  line-height: 1.7;
  margin: 2rem 0;
  min-height: 200px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--transparent-white);
}
.container-1 {
  background-color: var(--bright-orange);
}
.container-2 {
  background-color: var(--dark-cyan);
}
.container-3 {
  background-color: var(--very-dark-cyan);
}
.btn {
  padding: 1rem 1.8rem;
  background-color: var(--very-light-gray);
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 50px;
  font-weight: bold;
}
.sedans {
  color: var(--bright-orange);
}

.suv {
  color: var(--dark-cyan);
}
.luxury {
  color: var(--very-dark-cyan);
}
.sedans:hover {
  color: var(--transparent-white);
  outline: 2px solid var(--transparent-white);
  background-color: var(--bright-orange);
}
.suv:hover {
  color: var(--transparent-white);
  outline: 2px solid var(--transparent-white);
  background-color: var(--dark-cyan);
}
.luxury:hover {
  color: var(--transparent-white);
  outline: 2px solid var(--transparent-white);
  background-color: var(--very-dark-cyan);
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: 2rem 1rem;
  }

  p {
    min-height: 100px;
  }
  .small-container {
    padding: 3rem;
  }
}
