@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f8f9fd;
}
::placeholder{
    color: rgba(238, 238, 238, 0.692);
}
.container {
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  min-height: 500px;
}
.title {
  margin: 0;
}
.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}
.header {
  background-color: #DE3163;
  color: #fff;
  padding: 30px 20px;
}
.header input {
  background-color: rgba(0, 0, 0, 0.23);
  border: 0;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  width: 100%;
  padding: 10px 15px;
}
.header input:focus {
  outline: none;
}
.user-list {
  background-color: #fff;
  list-style-type: none;
  max-height: 400px;
  overflow: auto;
  scroll-behavior: smooth;
}
.user-list li {
  display: flex;
  padding: 20px;
  /* margin: 1rem; */
  /* list-style: none; */
}
.user-list img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.user-list .user-info {
  margin-left: 10px;
}
.user-list .user-info h4 {
  margin-bottom: 5px;
}
.user-list .user-info p {
  font-size: 12px;
}

.user-list li:not(:last-of-type) {
  list-style: none;
  border-bottom: 1px solid #eee;
}

.user-list li.hide {
  display: none;
}
