@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue-intro: hsl(217, 28%, 15%);
  --dark-blue-main-background: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonials-background: hsl(219, 30%, 18%);
  --cyan-inside-call-to-action: hsl(176, 68%, 64%);
  --blue-inside-call-to-action: hsl(198, 60%, 50%);
  --light-red-error: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}
body {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
}
nav {
  background-color: var(--dark-blue-intro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem 1rem 4rem;
}
.nav-list {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  display: flex;
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  padding: 0 2rem;
  color: var(--white);
}
.curvy-container-wrap {
  background-color: var(--dark-blue-intro);
  background-image: url(./images/bg-curvy-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 20rem;
  overflow: hidden;
}
.curvy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  margin: auto;
  font-family: 'Raleway', sans-serif;
  max-width: 650px;
  width: 100%;
  text-align: center;
}
.curvy-container img {
  margin-top: 5rem;
  max-width: 100%;
}
.curvy-container h3 {
  width: 90%;
  text-align: center;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 700;
  margin: 1.2rem 0;
}
.curvy-container p {
  font-family: 'Open Sans', sans-serif;
  max-width: 450px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 1.2rem;
}
.curvy-container button {
  padding: 1.3rem 5rem;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
  background-color: var(--cyan-inside-call-to-action);
  background-image: linear-gradient(
    to right,
    rgb(101, 226, 217),
    rgb(51, 158, 204)
  );
}
.features-grid {
  background-color: var(--dark-blue-main-background);
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, minmax(40px, 350px));
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.box {
  font-size: 16px;
}
.box p {
  font-weight: 400;
  font-size: 14px;
}
.box:nth-child(1),
.box:nth-child(2) {
  margin-top: -12rem;
}
.box:nth-child(3),
.box:nth-child(4) {
  margin-top: -2rem;
}
.box h4 {
  margin: 1rem 0;
}

.img-prod {
  height: 80vh;
  display: flex;
  justify-content: center;
  background-color: var(--dark-blue-main-background);
  font-family: 'Raleway', sans-serif;
  color: var(--white);
  padding-bottom: 5rem;
}
.img-left {
  background-image: url(./images/illustration-stay-productive.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  max-width: 600px;
  background-position: center;
  height: 100%;
}
.prod-right {
  width: 40%;
  padding: 4rem 0;
  padding-left: 3rem;
  font-family: 'Raleway', sans-serif;
  align-self: center;
}
.prod-right h1 {
  width: 50%;
  font-size: 32px;
  margin-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
}
.prod-right p {
  margin-bottom: 1rem;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
.prod-right button {
  background-color: none;
  background: none;
  color: var(--cyan-inside-call-to-action);
  border: none;
  padding: 0;
  font: inherit;
  font-family: 'Raleway', sans-serif;
  border-bottom: 1px solid var(--cyan-inside-call-to-action);
  cursor: pointer;
}
.prod-right button::after {
  content: url(./images/icon-arrow.svg);
  position: relative;
  top: 3px;
  text-decoration: underline;
  margin-left: 7px;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 400px));
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 3rem;
  margin-left: auto;
  justify-content: center;
  background-color: var(--dark-blue-main-background);
}
.review-box {
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 14px;
  font-weight: 200;
  background-color: var(--dark-blue-intro);
  padding: 1.5rem 1rem;
  margin: 1rem;
  line-height: 1.7em;
  margin-bottom: 1.5em;
  color: var(--white);
  box-shadow: 1px 10px 10px 0 rgba(0, 0, 0, 0.281);
}
.review-profile {
  display: flex;
  height: 25px;
  /* border: 1px solid red; */
  margin-top: 1.5rem;
  align-items: center;
}
.review-box p {
  opacity: 0.8;
}
.review-profile img {
  height: 100%;
  width: auto;
  border-radius: 50px;
}
.author {
  margin-left: 10px;
  margin-top: 10px;
}
.author h4 {
  color: var(--white);
  font-size: 12px;
}
.author p {
  font-size: 10px;
  margin-top: -5px;
}
.review-box:nth-child(1) {
  position: relative;
  z-index: 1000;
}
.bg-quote {
  position: absolute;
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: -35px;
  left: -5px;
  height: 45px;
  width: 45px;
  z-index: -10;
}

.email-wrapper {
  height: 500px;
  background: linear-gradient(
    rgb(24, 31, 42) 0%,
    rgb(24, 31, 42) 50%,
    rgb(11, 21, 35) 50%,
    rgb(11, 21, 35) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.email-container {
 padding-top: 3rem;
  min-height: 300px;
  max-width: 860px;
  width: 100%;
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: rgb(28, 36, 49);
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.281);
}
.email-container h1 {
  font-size: 1.8rem;
}
.email-container p {
  opacity: 0.8;
  text-align: center;
  width: 80%;
  margin: 1.5rem auto;
}
.email-container input {
  border-radius: 50px;
  width: 100%;
  height: 50px;
  min-width: 200px;
  max-width: 400px;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  outline: none;
  border: none;
  margin-right: 2rem;
}
.email-container button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  margin-top: 2rem;
  background-color: var(--cyan-inside-call-to-action);
  color: var(--white);
  background-image: linear-gradient(
    to right,
    rgb(101, 226, 217),
    rgb(51, 158, 204)
  );
  cursor: pointer;
  outline: none;
  border: none;
}
footer {
  background-color: var(--dark-blue-footer);
  padding-left: 5rem;
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
}

.footer-logo {
  width: 150px;
  padding-bottom: 2rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 450px));
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2rem;
  padding-bottom: 6rem;
}
.footer-box {
  opacity: 0.9;
  font-size: 14px;
}
.footer-address {
  display: flex;
  flex-direction: row;
}
.footer-box:nth-child(2) .footer-address {
  align-items: center;
}
.footer-address img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
.footer-address p {
  padding: 0.5rem 0;
}
.footer-box ul {
  list-style-type: none;
}
.footer-box ul li {
  padding: 0.5rem 0;
}
.footer-box:nth-child(5) i {
  font-size: 30px;
  padding-left: 20px;
}

@media (max-width: 1000px) {
  .curvy-container {
    /* transform: scale(1); */
  }
  .curvy-container-wrap {
    /* padding-bottom: 10rem; */
  }
  .curvy-container img {
    width: 50%;
  }
  
}
@media (max-width: 650px) {
  nav {
    padding: 1rem 0.5rem;
  }
  nav img {
    margin-top: 0.2rem;
    width: 80px;
  }
  .nav-list li a {
    font-size: 14px;
    padding: 0 0.5rem;
    font-weight: 400;
  }
  .curvy-container img {
    max-width: 300px;
  }
  .curvy-container h3 {
    width: 70%;
  }
  .curvy-container-wrap {
    padding-bottom: 0rem;
  }
  .features-grid {
    display: block;
    padding: 3rem 0;
  }
  .box {
    padding: 2.5rem 1.2rem;
  }
  .box:nth-child(1),
  .box:nth-child(2) {
    margin-top: 0rem;
  }
  .img-prod {
    flex-direction: column;
    align-items: center;
  }
  .img-left {
    min-height: 350px;
    width: 100%;
    padding: 0 1rem;
    background-size: contain;
  }
  .prod-right {
    padding: 0;
    width: 100%;
  }
  .prod-right h1 {
    width: 100%;
    font-size: 16px;
  }

  .review-grid {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  .bg-quote {
    width: 30px;
    height: 30px;
    left: 0px;
  }
  .email-wrapper {
    padding: 2rem 2rem;
  }
  .email-container input {
    width: 90%;
    margin-bottom: 1.5rem;
  }
  .email-container button {
    width: 90%;
  }
  footer, .footer-box ul{
    padding-left: 2rem;
  }
.footer-grid{
  display: flex;
  flex-direction: column;
}
.footer-box:nth-child(3){
  padding: 1.5rem 0;
}
.footer-box:nth-child(5){
  padding-left: 0;
  margin: 1rem auto;
}

}
